.addButton {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 31px;
  padding: 0 8px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 50px;
}

.icon {
  width: 16px;
  height: 16px;
}
