/* =========================================
  1. 기본 스타일(모바일)
========================================= */
.wrapper {
  flex: 1;
  padding: 20px 16px;
  background: var(--color-bg-main);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================================
  2. 태블릿 사이즈 (744px 이상)
========================================= */
@media (width >= 744px) {
  .wrapper {
    padding: 20px 24px;
  }
}

/* =========================================
  3. PC 사이즈 (1024px 이상)
========================================= */
@media (width >= 1024px) {
  .wrapper {
    padding: 40px 0;
  }
}
