/* 비밀번호 확인 모달의 경우, input 에러 처리를 위해 크기 조정을 하였습니다. */

/* =========================================
  1. 기본 스타일(모바일)
========================================= *
/* 어두운 배경 스타일 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* 무조건 최상단에 오도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%); /* 💡 어두운 반투명 배경 */
}

.modalWrapper {
  width: 344px;
  height: 358px;
  padding: 24px 16px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

  /* 기본 애니메이션 (선택사항) */
  animation: modal-fade-in 0.2s ease-out;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100%;
}

.titleWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  padding-bottom: 4px;
  margin: 0;
  font-size: 18px;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-black);
}

.modalText {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-dark);
  text-align: center;
}

.inputWrapper {
  height: 114px;
  margin-bottom: -12px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* 피그마상 148px지만 너무 넓어서 줄였어요 */
  height: 29px;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-pink);
}

.closeBtnDesktop {
  display: none; /* 모바일에서는 데스크탑용 버튼 숨김 */
}

.closeBtnMobile {
  display: flex; /* 모바일에서는 모바일용 버튼 보임 */
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================
  2. 태블릿,PC 공통 (744px 이상)
========================================= */
@media (width >= 744px) {
  .modalWrapper {
    width: 648px;
    height: 376px;
    padding: 40px 24px;
  }

  .title {
    padding-bottom: 0;
    font-size: 24px;
  }

  .modalContent {
    gap: 24px;
  }

  .inputWrapper {
    margin-bottom: -12px;
  }

  .confirmBtn {
    width: 600px;
    height: 58px;
    border-radius: 16px;
  }

  .closeBtnDesktop {
    position: absolute;
    right: 0;
    display: block; /* 744px 이상에서는 데스크탑용 버튼 보임 */
  }

  .closeBtnMobile {
    display: none; /* 744px 이상에서는 모바일용 버튼 숨김 */
  }
}
