/* 습관기록표(습관o) */

.box {
  box-sizing: border-box;
  width: 100%;
  max-width: 1120px;
  height: auto;
  padding: 25px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

/* 습관기록표(습관x) */

.noHabitBox {
  box-sizing: border-box;
  width: 100%;
  max-width: 1120px;
  height: auto;
  padding: 25px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
}

/* 요일영역 */

.habitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/* 요일가로줄 */

.row {
  display: grid;
  grid-template-columns: 250px repeat(7, 115px);
  align-items: center;
  justify-content: center;
  margin-bottom: -14px;
}

/* 습관한줄 */

.habit {
  display: grid;
  grid-template-columns: 250px repeat(7, 115px);
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.habitTitle {
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-align: right;
}

/* 요일 하나 */

.week {
  font-size: 18px;
  font-weight: 400;
  color: #818181;
  text-align: center;
}

.habit span:not(.habitTitle) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noHabitText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
  color: #818181;
  text-align: center;
}

.habitScroll {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  max-height: 450px;
  overflow-x: auto;
}

/* ======================================
작은 PC (1100px)
======================================= */

@media (width <= 1200px) {
  .row {
    grid-template-columns: 200px repeat(7, 90px);
  }

  .habit {
    grid-template-columns: 200px repeat(7, 90px);
  }
}

/* =====================================
태블릿 (1024px)
======================================== */

@media (width <= 1024px) {
  .box {
    width: 100%;
    max-width: 100%;
  }

  .row {
    grid-template-columns: 200px repeat(7, 60px);
  }

  .habit {
    grid-template-columns: 200px repeat(7, 60px);
  }
}

/* =====================================
모바일 (744px)
====================================== */

@media (width <= 744px) {
  .habitBox {
    align-items: flex-start;
  }

  .box {
    width: 100%;
    max-width: 100%;
  }

  .habitTitle {
    padding-right: 20px;
    font-size: 14px;
  }

  .week {
    font-size: 14px;
  }

  .row {
    grid-template-columns: 150px repeat(7, 60px);
    justify-content: start;
    width: 620px;
    margin-left: 0;
  }

  .habit {
    grid-template-columns: 150px repeat(7, 60px);
    justify-content: start;
    width: 620px;
    margin-left: 0;
  }

  .habitScroll {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    overflow-x: auto;
  }
}

@media (width <= 375px) {
  .week {
    font-size: 14px;
  }

  .row {
    grid-template-columns: 100px repeat(7, 60px);
    justify-content: start;
    width: 620px;
    margin-left: 0;
  }

  .habit {
    grid-template-columns: 100px repeat(7, 60px);
    justify-content: start;
    width: 620px;
    margin-left: 0;
  }
}
