.box {
  width: 100%;
  max-width: 1120px;
  height: auto;
  padding: 25px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
}

.habitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: 250px repeat(7, 115px);
  align-items: center;
  justify-content: center;
  margin-bottom: -14px;
}

.habit {
  display: grid;
  grid-template-columns: 250px repeat(7, 115px);
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.habitTitle {
  padding-right: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-align: right;
}

.week {
  font-size: 18px;
  font-weight: 400;
  color: #818181;
  text-align: center;
}

.habit img {
  width: 36px;
  height: 36px;
}

.habit span:not(.habitTitle) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noHabitText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
  color: #818181;
  text-align: center;
}

/* =====================================
태블릿 (1024px)
======================================== */

@media (width <= 1024px) {
  .box {
    width: 100%;
    max-width: 100%;
  }

  .row {
    grid-template-columns: 220px repeat(7, 50px);
  }

  .habit {
    grid-template-columns: 220px repeat(7, 50px);
  }
}

/* =====================================
모바일 (744px)
====================================== */

@media (width <= 744px) {
  .box {
    width: 100%;
    max-width: 100%;
  }

  .row {
    grid-template-columns: 120px repeat(7, 45px);
  }

  .habit {
    grid-template-columns: 120px repeat(7, 45px);
  }
}
