.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
}

.inputLabel {
  font-size: 18px;
  font-weight: var(--font-weight-semi-bold);
}

.inputBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 20px;
  padding-right: 56px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-medium);
  border-radius: 15px;
}

.input.error {
  border: 1px solid var(--color-error-dark);
}

.input::placeholder {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.eyeButtonImg {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.eyeButton:hover .eyeButtonImg {
  opacity: 1;
}

.errorMessage {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--color-error-dark);
}

.hidden {
  visibility: hidden;
}
