/* 기본 버튼 베이스 */
.timerBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 105px;
  padding-left: 78px;
  color: var(--color-white);
  background: var(--color-brand-bg);
}

/* --- 아이콘 버튼 크기 --- */
.lg {
  width: 333px;
  height: 60px;
  padding-right: 105px;
  padding-left: 78px;
  font-size: 28px;
  font-weight: var(--font-weight-extra-bold);
  border-radius: 50px;
}

.sm {
  width: 140px;
  height: 45px;
  padding-right: 28px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: var(--font-weight-semi-bold);
  border-radius: 50px;
}

.lg .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.lg > img {
  width: 30.6px;
  height: 33.8px;
}

.sm .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.sm > img {
  width: 16.7px;
  height: 18.4px;
}
